<STYLE TYPE=text/css>
<!--

	body.cal { background-color: #E8F2FB; }

	a:active { color: #4488AA; text-decoration: underline; }	
	a:hover { color: #4488AA; text-decoration: underline; }
	a:link { color: #0000FF; text-decoration: none; }
	a:visited { color: #0000FF; text-decoration: none; }
	
/* Month Calendar Table View Setting */
	table.monthview    {
	width: 98%;
	background-color: #94BED6;
	color: #94BED6;
	border: 1px thin;
	border-collapse: separate;
	border-spacing: 1px;
	padding: 0px;
	spacing: 1px;
	}

	td.monthview    {
	background-color: #94BED6;
	color: #94BED6;
	height: 30px;
	}

	td.sundaytopcolor    {
	height: 50px;
	color: #D3E6F5;
	background-color: #D3E6F5;
	width: 14%;	
	<!--width: 16%;-->
	}

	td.weekdaytopcolor    {
	height: 50px;
	color: #E0F0F0;
	background-color: #E0F0F0;
	width: 14%;
	}

	td.sundayemptyclr    {
	height: 50px;
	background-color: #F8F8F8;
	}

	td.weekdayemptyclr    {
	height: 50px;
	background-color: #FFFFFF;
	}

	td.sundayclr    {
	height: 50px;
	background-color: #D3E6F5;
	}

	td.weekdayclr    {
	height: 50px;
	background-color: #E0F0F0;
	}
	
	td.todayclr    {
	background-color: #FFFF99;
	}

/* Event Listing Table */
	table.listing {
	width: 98%;
	border-width: 0;
	background-color: #FFFFFF;
 	}

	hr.cal    {
	height: 1px;
	background-color: #2172A1;
	border: #2172A1;
	color: #2172A1;
	border: 0px;
	border-style: none;
	}

	li.cal    {
	list-style-type: plain;
	}

/* Header Font */
	div.headerfont {
	font-family: Arial,Helvetica,Sans Serif;
	color: #000000;
	font-size: 16;
	background-color: #92BED7;
	font-style: normal;
	font-weight: bold;
	}

	table.headerfont    {
	font-family: Arial,Helvetica,Sans Serif;
	color: #000000;
	font-size: 16;
	background-color: #92BED7;
	font-style: normal;
	font-weight: bold;
	width: 98%;
	}

	td.headerfont    {
	font-family: Arial,Helvetica,Sans Serif;
	color: #000000;
	font-size: 16;
	background-color: #92BED7;
	font-style: normal;
	font-weight: bold;
	}

	a.headerfont:link    {
	color: #000000;
	text-decoration: none;
	}

	a.headerfont:visited    {
	color: #000000;
	}

	a.headerfont:hover    {
	color: #000000;
	text-decoration: underline;
	}

/* Title Font */
	/* for event titles : same as popup window title */
	div.titlefont    {
	font-family: Arial,Helvetica,Sans Serif;
	color: #000000;
	font-size: 14;
	font-style: normal;
	font-weight: bold;
	text-decoration: underline;
	background-color: #E8F2FB;
	}

	table.titlefont    {
	font-family: Arial,Helvetica,Sans Serif;
	color: #000000;
	font-size: 14;
	background-color: #E8F2FB;
	font-style: normal;
	font-weight: bold;
	width: 98%;
	}

	td.titlefont    {
	font-family: Arial,Helvetica,Sans Serif;
	color: #000000;
	font-size: 14;
	background-color: #E8F2FB;
	font-style: normal;
	font-weight: bold;
	}

	a.titlefont:link    {
	font-family: Arial,Helvetica,Sans Serif;
	color: #000000;
	font-size: 14;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
	}

	a.titlefont:visited    {
	font-family: Arial,Helvetica,Sans Serif;
	color: #000000;
	font-size: 14;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
	}

	a.titlefont:hover    {
	font-family: Arial,Helvetica,Sans Serif;
	color: #000000;
	font-size: 14;
	font-style: normal;
	font-weight: bold;
	text-decoration: underline;
	}


/* Alternating Row and Unapproved Events Color */
	tr.color0 { background-color: #D3E6F5; }
	tr.color1 { background-color: #E0F0F0; }
	tr.unapprovecolor { background-color: #FF9999; }

/* Lines and Boxes */
	table.txtbox    {
	border: solid #999999;
	border-width: 1;
	}

/* Calendar Top Header Font */
	table.todaytop    {
	font-family: Arial,Helvetica,Sans Serif;
	color: #884422;
	font-size: 12;
	background-color: #E8F2FB;
	font-style: normal;
	font-weight: normal;
	width: 98%;
	}

	td.todaytop    {
	font-family: Arial,Helvetica,Sans Serif;
	color: #884422;
	font-size: 12;
	background-color: #E8F2FB;
	font-style: normal;
	font-weight: normal;
	}

	/* menu table background color */
	table.menufont    {
	background: #E8F2FB;
	width: 98%;
	}

/* Calendar Footer Font */
	table.footer {
	background-color: #E8F2FB;
	width: 100%;			
 	}
 	
	td.footer {
	font-family: Arial,Helvetica,Sans Serif;
	color: #000066;
	font-size: 10;
	background-color: #E8F2FB;
	font-style: italic;
	font-weight: normal;
 	}
 	
 	a.footer {
	font-family: Arial,Helvetica,Sans Serif;
	color: #000066;
	font-size: 10;
	font-style: italic;
	font-weight: normal;
  	}

 	a.footer:visited {
	font-family: Arial,Helvetica,Sans Serif;
	color: #000066;
	font-size: 10;
	font-style: italic;
	font-weight: normal;
  	}

	a.footer:hover    {
	font-family: Arial,Helvetica,Sans Serif;
	color: #000066;
	font-size: 10;
	font-style: italic;
	font-weight: normal;
	text-decoration: underline;
	}

/* Format event borders in calendar month view */
	table.eventborder    {
	border: solid #D0C0C8;
	border-top-width: 0;
	border-left-width: 0;
	border-right-width: 0;
	border-bottom-width: 1;
	}

	td.eventborder    {
	border: solid #D0C0C8;
	border-top-width: 0;
	border-left-width: 0;
	border-right-width: 0;
	border-bottom-width: 0;
	}

	td.eventtimeborder    {
	border: solid #D0C0C8;
	border-top-width: 0;
	border-left-width: 0;
	border-right-width: 1;
	border-bottom-width: 0;
	}

/* Company Name Font */
	div.companynamefont {
	font-family: Verdana,Arial,Helvetica;
	color: #FFFFFF;
	font-size: 24;
	background-color: #333366;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	width: 100%;
	margin: auto;				
	}

/* Calendar Name Font */
	div.calendarnamefont {
	font-family: Verdana,Arial,Helvetica;
	color: #333366;
	font-size: 18;
	background-color: #FFFFFF;
	font-style: normal;
 	font-weight: bold;
	text-align: center;
	text-decoration: none;
	width: 100%;
	margin: auto;			
	}

/* Popup Event Title Font */
	div.popupeventtitlefont    {
	font-family: Arial,Helvetica,Sans Serif;
	color: #000000;
	font-size: 14;
	font-style: normal;
	font-weight: bold;
	text-align: left;
	text-decoration: underline;
	}

/* Popup Event Content Font */
	div.popupeventfont    {
	font-family: Arial,Helvetica,Sans Serif;
	color: #000000;
	font-size: 12;
	font-style: normal;
	font-weight: normal;
	text-align: left;
	text-decoration: none;
	}

/* Menu Text Font */
	div.menufont    {
	font-family: Arial,Helvetica,Sans Serif;
	color: #000000;
	font-size: 12;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	}

	a.menufont:link    {
	font-family: Arial,Helvetica,Sans Serif;
	color: #2172A1;
	font-size: 12;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	}

	a.menufont:visited    {
	font-family: Arial,Helvetica,Sans Serif;
	color: #2172A1;
	font-size: 12;
	font-style: normal;
	font-weight: normal;
	}

	a.menufont:hover    {
	font-family: Arial,Helvetica,Sans Serif;
	color: #2172A1;
	font-size: 12;
	font-style: normal;
	font-weight: normal;
	text-decoration: underline;
	}

/* Normal Text Font */
	div.normalfont    {
	font-family: Arial,Helvetica,Sans Serif;
	color: #000000;
	font-size: 12;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	}

	table.normalfont    {
	font-family: Arial,Helvetica,Sans Serif;
	color: #000000;
	font-size: 12;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	}

	td.normalfont    {
	font-family: Arial,Helvetica,Sans Serif;
	color: #000000;
	font-size: 12;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	}

	a.normalfont:link    {
	color: #000000;
	text-decoration: none;
	}

	a.normalfont:visited    {
	color: #000000;
	}

	a.normalfont:hover    {
	color: #000000;
	text-decoration: underline;
	}

	a.name:hover    {
	color: #000000;
	text-decoration: none;
	}

/* Calendar Day Name Font */
	div.dayfont  {
	font-family: Arial,Helvetica,Sans Serif;
	color: #884400;
	font-size: 13;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	}

/* Calendar Date Numbers Font */
	div.datenumfont    {
	font-family: Arial,Helvetica,Sans Serif;
	color: #000000;
	font-size: 13;
	font-style: normal;
	font-weight: normal;
	}

	a.datenumfont    {
	font-family: Arial,Helvetica,Sans Serif;
	color: #000000;
	font-size: 13;
	font-style: normal;
	font-weight: normal;
	}

	a.datenumfont:visited    {
	font-family: Arial,Helvetica,Sans Serif;
	color: #000000;
	font-size: 13;
	font-style: normal;
	font-weight: normal;
	}

	a.datenumfont:hover    {
	font-family: Arial,Helvetica,Sans Serif;
	color: #000000;
	font-size: 13;
	font-style: normal;
	font-weight: normal;
	text-decoration: underline;
	}

/* Month Navigation Font */
	a.calfontnav    {
	font-family: Arial,Helvetica,Sans Serif;
	color: #2172A1;
	font-size: 18;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	}

	a.calfontnav:hover    {
	font-family: Arial,Helvetica,Sans Serif;
	color: #2172A1;
	font-size: 18;
	font-style: normal;
	font-weight: normal;
	text-decoration: underline;
	}

	a.calfontnav:visited    {
	font-family: Arial,Helvetica,Sans Serif;
	color: #2172A1;
	font-size: 18;
	font-style: normal;
	font-weight: normal;
	}

/* Current Month Font */
	div.calfontasked    {
	font-family: Arial,Helvetica,Sans Serif;
	color: #2172A1;
	font-size: 24;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	}

	a.calfontasked    {
	font-family: Arial,Helvetica,Sans Serif;
	color: #2172A1;
	font-size: 24;
	font-style: normal;
	font-weight: normal;
	}

	a.calfontasked:hover    {
	font-family: Arial,Helvetica,Sans Serif;
	color: #2172A1;
	font-size: 24;
	font-style: normal;
	font-weight: normal;
	text-decoration: underline;
	}

	a.calfontasked:visited    {
	font-family: Arial,Helvetica,Sans Serif;
	color: #2172A1;
	font-size: 24;
	font-style: normal;
	font-weight: normal;
	}

/* Small Event Font */
	div.smallcalevtime    {
	font-family: Arial,Helvetica,Sans Serif;
	color: #000000;
	font-size: 10;
	font-style: normal;
	font-weight: normal;
	}

	div.smallcalev    {
	font-family: Arial,Helvetica,Sans Serif;
	color: #0020A0;
	font-size: 10;
	font-style: normal;
	font-weight: normal;
	}

	a.smallcalev    {
	font-family: Arial,Helvetica,Sans Serif;
	color: #0020A0;
	font-size: 10;
	font-style: normal;
	font-weight: normal;
	}

	a.smallcalev:hover    {
	font-family: Arial,Helvetica,Sans Serif;
	color: #0020A0;
	font-size: 10;
	font-style: normal;
	font-weight: normal;
	text-decoration: underline;
	}

/* Holiday Font */
	table.holidayfont {
	  background-color : #277CB2;
	}
	
	td.holidayfont {
	  background-color : #277CB2;
 	}
 	
	a.holidayfont {
	font-family: Arial,Helvetica,Sans Serif;
	color: #FFFFFF;
	font-size: 10;
	background-color : #277CB2;
	font-style: normal;
	font-weight: normal;
	}

	a.holidayfont:hover {
	font-family: Arial,Helvetica,Sans Serif;
	color: #FFFFFF;
	font-size: 10;
	background-color : #277CB2;
	font-style: normal;
	font-weight: normal;
	text-decoration: underline;
	}
	
	a.holidayfont:visited {
	font-family: Arial,Helvetica,Sans Serif;
	color: #FFFFFF;
	font-size: 10;
	background-color : #277CB2;
	font-style: normal;
	font-weight: normal;
	}

/* Listing Block Title Font */
	div.blocktitlefont    {
	font-family: Arial,sans-serif,Helvetica;
	color: #FFFFFF;
	font-size: 15;
	background-color: #330099;
	font-style: normal;
	font-weight: bold;
	text-align: left;
	text-decoration: none;
	}

/* Listing Block Events Text Font */
	div.blocktextfont    {
	font-family: Arial,sans-serif,Helvetica;
	color: #000000;
	font-size: 12;
	background-color: #FFFFFF;
	font-style: normal;
	font-weight: normal;
	text-align: left;
	text-decoration: none;
	}

/* Message to signal progress, errors or failed results */
	h4  {
	font-family: Arial,Helvetica,Sans Serif;
	color: #000000;
	font-size: 12;
	font-style: italic;
	font-weight: normal;
	text-decoration: blink;
	}

/* Small Cal Month Font */
	table.smallcalmth    {
	font-family: Arial,Helvetica,Sans Serif;
	color: #000000;
	font-size: 13;
	font-style: normal;
	font-weight: normal;
	width: 98%;
	}

	div.smallcalmth    {
	font-family: Arial,Helvetica,Sans Serif;
	color: #000000;
	font-size: 13;
	font-style: normal;
	font-weight: normal;
	}

	a.smallcalmth    {
	font-family: Arial,Helvetica,Sans Serif;
	color: #000000;
	font-size: 13;
	font-style: normal;
	font-weight: normal;
	}

	a.smallcalmth:visited    {
	font-family: Arial,Helvetica,Sans Serif;
	color: #000000;
	font-size: 13;
	font-style: normal;
	font-weight: normal;
	}


	a.smallcalmth:hover    {
	font-family: Arial,Helvetica,Sans Serif;
	color: #000000;
	font-size: 13;
	font-style: normal;
	font-weight: normal;
	text-decoration: underline;
	}

	td.smallcalmth    {
	background-color: #D0D0D0;
	}

/* Form Objects */
	form { display: inline; margin: 0; }
	
	input, textarea, select {
	font-family: Arial,Helvetica,Sans Serif;
	color: #000000;
	font-size: 12;
	background-color: #FFFFFF;
	font-style: normal;
	font-weight: normal;
	text-align: left;
	text-decoration: none;
	}
	
	input.button {
	font-family: Arial,Helvetica,Sans Serif;
	color: #FFFFFF;
	font-size: 12;
	background-color: #2172A1;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	text-decoration: none;
 	}

	input.radio {
	background-color: #E8F2FB;
	}

	input.checkbox0 {
	background-color: #D3E6F5;
	}

	input.checkbox1 {
	background-color: #E0F0F0;
	}

	a.menu {
		border-top : 1px #00FFFF solid;
		border-left : 1px #00FFFF solid;
		border-right : 1px #00FFFF solid;
		border-bottom : 1px #00FFFF solid;
		font-size: 12;
		font-family: Arial, sans-serif, Helvetica;
		color: #0000FF;
		padding-left: 2px;
		padding-right: 2px;
		}
	a.menuover {
		background-color: #FFFF80;
		border-top : 1px #0000FF solid;
		border-left : 1px #0000FF solid;
		border-right : 1px #0000FF solid;
		border-bottom : 1px #0000FF solid;
		font-size: 12;
		font-family: Arial, sans-serif, Helvetica;
		color: #0000FF;
		padding-left: 2px;
		padding-right: 2px;
		}

//-->
</STYLE>